<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
 package="com.reactnativemultipleimagepicker">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission tools:ignore="ProtectedPermissions" android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission tools:ignore="ProtectedPermissions" android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission tools:ignore="ProtectedPermissions" android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission tools:ignore="ProtectedPermissions" android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission tools:ignore="ProtectedPermissions" android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- Android 13 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application android:requestLegacyExternalStorage="true" />
</manifest>
